<!DOCTYPE html>
<html lang="en">
<head>
  <title>Honda Showroom</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Honda Showroom HomePage</h1>
  <h2>Welcome to the Honda website</h2>
  <p>Honda India Pvt. Ltd. , the only Honda in Indian industry is the 100% subsidiary of Honda Motor Company Ltd., Japan,
  started its Indian operations at Manesar (District Gurgaon, Haryana) in May 2001. Despite being one of the youngest players in the Indian two-wheelers market,
  Honda’s consistency of providing high quality products and services has won the hearts of over 48 million happy Indian customers and catapulted HMSI to become
  India’s 2nd largest two-wheeler company today.</p>
  
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Staff</h3>
       <a href="http://127.0.0.1:8000/staff/"class="btn btn-info" role="button">Registration</a>
    
       
    </div>
    <div class="col-sm-4">
      <h3>Customer</h3>
      <a href="http://127.0.0.1:8000/customer/"class="btn btn-info" role="button">Registration</a>
     
       
    </div>
    <div class="col-sm-4">
      <h3>Click below to see the Vehicles</h3>
      <a href="http://127.0.0.1:8000/vehicle/"class="btn btn-info" role="button">vehicles</a>        
     
      
    </div>
  </div>
</div>
<div class="container">
  <div class="jumbotron">
    <h1>Contact Us</h1>      
    <p>Email: customer_relations@hondacarindia.com</p>
    <p>1800 113 121 (TOLL FREE)</p>
  </div>

</body>
</html>
