<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>2 - Wheelers</h2>            
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Model</th>
        <th>Prize</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Activa</td>
        <td>125</td>
        <td>Rs.84522</td>
      </tr>
      <tr>
        <td>Activa</td>
        <td>6G</td>
        <td>Rs.73665</td>
      </tr>
      <tr>
        <td>Dio</td>
        <td>Dlx</td>
        <td>Rs.73278</td>
      </tr>
       <tr>
        <td>Hornet</td>
        <td>2.0 ABS</td>
        <td>Rs.134567</td>
      </tr>
      <tr>
        <td>CB Shine</td>
        <td>DISC - BSVI</td>
        <td>Rs.80332</td>
      </tr>
    
    </tbody>
  </table>
</div>

<div class="container">
  <h2>4 - Wheelers</h2>            
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Model</th>
        <th>Prize</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Honda City</td>
        <td>5th Generation</td>
        <td>Rs.11,28,800</td>
      </tr>
      <tr>
        <td>New Amaze</td>
        <td>EMT</td>
        <td>Rs.6,43,800</td>
      </tr>
      <tr>
        <td>WR-V</td>
        <td>SV MT</td>
        <td>Rs.8,88,000</td>
      </tr>
       <tr>
        <td>Jazz</td>
        <td>V MT</td>
        <td>Rs.7,77,600</td>
      </tr>
 
    </tbody>
  </table>
</div>


</body>
</html>
